.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.navItems>ul{
    display: flex;
}
.navItems>ul>li{
    list-style: none;
    padding: 0.5rem;
    margin: 0.5rem;
}
.cards{
    height: 380px;
    width: 260px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    letter-spacing: 2px;
}
.cards>img{
    height:170px;
    width: 100%;
}
.cardsBody{
    margin-top: 1rem;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardsShimmer{
    height: 380px;
    width: 260px;
    background: linear-gradient(-45deg, #d4c8c5, #d1cbcd, #e0e4e6, #e5e6e5);
	background-size: 100% 100%;
	animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 20%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 20%;
	}
}
