body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}
.navItems>ul{
    display: flex;
}
.navItems>ul>li{
    list-style: none;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
}
.navItems>ul>li:hover{
    color: #EC5C5D;
}
.navItems>ul:hover{
    cursor: pointer;
}
.cards{
    height: 380px;
    width: 260px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s ease-in-out;
    
}
.cards:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.cards>img{
    height:170px;
    width: 100%;
}
.cardsBody{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardsShimmer{
    height: 380px;
    width: 260px;
    margin: 10px;
    padding: 10px;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}
